[submodule "00-packages/rivet"]
	path = 00-packages/rivet
	url = https://git.kb28.ch/HEL/rivet-typst.git
[submodule "00-packages/chronos"]
	path = 00-packages/chronos
	url = https://git.kb28.ch/HEL/chronos.git
[submodule "00-packages/elegantt"]
	path = 00-packages/elegantt
	url = git@git.kb28.ch:Klagarge/elegantt.git
[submodule "00-packages/summary"]
	path = 00-packages/summary
	url = https://git.kb28.ch/Klagarge/Thesis-HEI-summary-template.git
